#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	# no building required

override_dh_auto_install:
	# no installation required (handled through "install" file)
